@import "bootstrap.less/variables.less";
@import "bootstrap.less/mixins.less";

.page_header {
	&-wrapper {
		display: table;
		width: 100%;
		> div {
			display: table-cell;
			vertical-align: middle !important;
		}
	}
	&-logo {}
	&-search {}
	&-menutoggler {padding-left: 2em;}

}

.aside_panel {
	.aside-turned-on & {
		&-wrapper {
			left: -260px;
			transform: none;
			/*transform: translateX(-260px);*/
			.transition(left .5s);
			/*.transition(background-color .5s);*/
			//left: -100%;
			//padding: 40px 30px;
		}
	}
}

.aside_panel {	
	&-wrapper {
		left: 0;
		transform: none;
		.transition(left .5s);
		/*.transition(transform .25s ease);*/
		/*transition: transform .25s ease, background-color .25s ease;*/
	}
}

.aside_panel {
	&-wrapper {
		.aside_search {
			display: table;
			> div {
				display: row;
				input, span {
					display: table-cell;
					vertical-align: middle;
				}
				input {width: 100%;}
				span {width: 3em;}
			}
		}
	}
}