@import (less) "../../wiki/css/opensans.css";
@import (less) "../../wiki/css/ptserif.css";
@import (less) "../../wiki/css/goodprocutted.css";

/*@import "../vendor/twitter/bootstrap/less/variables.less";
@import "../vendor/twitter/bootstrap/less/mixins.less";
@import "../vendor/twitter/bootstrap/less/mixins/vendor-prefixes.less";*/

@import "bootstrap.less/variables.less";
@import "bootstrap.less/mixins.less";
@import "bootstrap.less/mixins/vendor-prefixes.less";

@brand-primary:         darken(#5db0b6, 6.5%);
@brand-primary-light:         lighten(#5db0b6, 25%);

@import "vendor/bower/bootstrap/less/forms.less";
@import "vendor/bower/bootstrap/less/buttons.less";
@import "vendor/bower/bootstrap/less/modals.less";
/*@import "../vendor/twitter/bootstrap/less/button-groups.less";*/
@import "vendor/bower/bootstrap/less/input-groups.less";
@import "vendor/bower/bootstrap/less/pagination.less";
@import "bootstrap.less/glyphicons.less";
@import "variables.less";


@screen-lg-min:				1200px;
@container-lg:				(994px + @grid-gutter-width);
@screen-xl-min:				1600px;
@container-xl:				1350px;
@media(min-width: @screen-xs-min) {}	//480
@media(min-width: @screen-sm-min) {}	//768
@media(min-width: @screen-md-min) {}	//992
@media(min-width: @screen-lg-min) {}	//1200
@media(min-width: @screen-xl-min) {}	//1600

@import "extends/variables.less";
@import "extends/extends.less";
@import (less) "wiki/css/sprites.css";
@import "webtype.less";

@import (less) "js/jquiautocompleteonly/jquery-ui.css";
#searchclear {
	right: 53px;
}
.ui-front {// для дропдауна автокомплита
	z-index: 1050;
}

@link-color: 					#2a77d3;
@link-hover-color: 				#c94f4f;
@link-hover-decoration:			none;
@font-size-base:          16px;
@font-size-small:         ceil((@font-size-base * 0.9));

a {
  color: @link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
  }
  &.crosslink {
	  text-decoration: underline;
  }

  &:focus {
    .tab-focus();
  }
}

*,*:after,*:before {box-sizing: border-box;}
body,td,input,textarea,select,button {font-family: 'Open Sans',sans-serif;}
h1,h2,h3,h4,h5,h6 {
	font-family: 'PT Serif',serif;
	/*@media screen and (min-width: @screen-md-min) {
		margin-top: 1em;
	}*/
}
h1 {font-size: @font-size-h1;}
h2 {font-size: @font-size-h2;}
h3 {font-size: @font-size-h3;}
h4 {font-size: @font-size-h4;}

html,body {height: 100%;}
body {
	margin: 0;
	background-color:#e9e8e8;
}

.btn-clear {
	border-color: @interface-primary-color;
	border-width: 2px;
	background-color: #ffffff;
}

@import "extends/search-results.less";
@import "extends/mw-gallery-box.less";

.face_banner {
	&-first {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a15e5e+0,b04e63+100&0.2+0,0.5+100 */
		background-color:#9f3f4b;
		background: linear-gradient(to bottom,  rgba(161,94,94,0.2) 0%,rgba(176,78,99,0.5) 100%), url('/front_images/face_banner/baner1.jpg'); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a15e5e', endColorstr='#80b04e63',GradientType=0 ); /* IE6-9 */
		background-position: center top, center top;
		background-size: cover,cover;
		color:#fff;

		height: 347px;
		padding-bottom: 137px;

		&-pretitle {font-size: 120%;}
		&-title {font-size: 180%; text-transform: uppercase;}
		&-longtitle {font-size: 110%; color:#d4d2d2; font-weight: 100;}


		@media screen and (min-width: 992px) {
			padding-top: 2em;
		}
		&-pretitle, &-title, &-longtitle {
			&:extend(.container all);
			text-align: center;
			@media screen and (min-width: 992px) {
				margin-top: 1ex;
			}
		}
	}
	&:not(:empty) {
		+ .page_header {
			margin-top: -137px;
			&.shrinked {margin-top: 0;}
		}
	} 
}

.page_header {
	
	&-wrapper {
		&:extend(.container all);
		background-color:#fff;
		/*min-height: 137px;*/
		@media screen and (max-width: @screen-md-min) {
			#searchclear {
				right: 53px;
			}
			& {
				display: flex;
				justify-content: space-between;
				align-items: center;
				> div {
					&.page_header-logo {
						& figure {
							padding-right: 2em;
							margin-top: -.5ex;
							display: flex;
							picture {
								margin-right: 1em;
								width: 50px;
								img {width: 100%;}
							}
							figcaption {
								font-family: "Good Pro Cond Light Cutted", serif;
								color:#00b3ba;
								font-size: 1.5em;
								padding-top: 1.45ex;
								line-height:1;
							}
						}
						
					}
					&.page_header-search {}
					&.page_header-feedback {}
					&.page_header-menutoggler {text-align: right; padding-left: 2em;}
				}
			}
		}
		@media screen and (max-width:320px) {
			#searchclear {
				right: 6px;
			}
			& {
				> div {
					&.page_header-logo {
						& figure {
							display: flex;
							picture {
								img {}
							}
							figcaption {
								font-size: 1em;
							}
						}
						
					}
					&.page_header-search {display: none;}
					&.page_header-feedback {}
					&.page_header-menutoggler {text-align: right; padding-left: 2em;}
				}
			}
		}
		@media screen and (max-width:@screen-xs-min) and (min-width:321px) {
			#searchclear {
				right: 6px;
			}
			& {
				> div {
					&.page_header-logo {
						& figure {
							display: flex;
							picture {
								img {}
							}
							figcaption {
								display: none;
							}
						}
						
					}
					&.page_header-search {
						.form-control {border-top-right-radius: 4px; border-bottom-right-radius: 4px;}
						.input-group-btn {display: none;}
					}
					&.page_header-feedback {display: none;}
					&.page_header-menutoggler {text-align: right; padding-left: 2em;}
				}
			}
		}
		@media screen and (min-width:@screen-sm-min) and (max-width:@screen-md-min) {
			& {
				display: flex;
				justify-content: space-between;
				align-items: center;
				> div {
					&, &.page_header-search {
						margin-bottom: auto;
					}
					margin: auto;
					&.page_header-logo {
						& figure {
							width: 300px; padding-right: 2em;
							margin-top: -.5ex;
							display: flex;
							picture {
								margin-right: 1em;
								width: 15%;
								img {width: 100%;}
							}
							figcaption {
								font-family: "Good Pro Cond Light Cutted", serif;
								color:#00b3ba;
								/*font-size: 19px;*/
								padding-top: 16px;
								line-height:1;
							}
						}
					}
					&.page_header-feedback {display: none;}
					&.page_header-menutoggler {margin-left: 2em;}
				}
			}
			/*background-color:#0f0;*/
		}
		@media screen and (min-width:@screen-xs-min) and (max-width:@screen-sm-min) {
			#searchclear {
				right: 53px;
			}
			& {
				display: flex;
				justify-content: space-between;
				align-items: center;
				> div {
					&.page_header-logo {
						& figure {
							width: 100%; padding-right: 2em;
							margin-top: -.5ex;
							display: flex;
							picture {
								margin-right: 1em;
								width: 50px;
								img {width: 100%;}
							}
							figcaption {
								display: none;
								font-family: "Good Pro Cond Light Cutted", serif;
								color:#00b3ba;
								font-size: 1.5em;
								padding-top: 1.45ex;
								line-height:1;
							}
						}
						
					}
					&.page_header-search {}
					&.page_header-feedback {display: none;}
					&.page_header-menutoggler {text-align: right; padding-left: 2em;}
				}
			}
			/*background-color:#0f0;*/
		}
		
		/*padding: 45px 45px 45px 35px;*/
		padding: 47px 45px 47px 35px;
		max-height: 137px;
		@media screen and (min-width: @screen-md-min) {
			height: 137px;
			&:after {content: " "; display: table; clear: both;}
			border-bottom: 1px solid #ededed;
		}
	}

	&.shrinked {
		position: fixed; left: 0; top: 0; right: 0;
		z-index: 10;
		background-color:#fff;
		box-shadow: 0px 10px 15px rgba(0,0,0,.15);
		.page_header-wrapper {
			padding: 10px;
			height: auto;
			border-bottom: none;
		}
		~ .main_content, ~ .personal_filters {border-top: 137px solid transparent;}
		~ .personal_filters ~.main_content {border-top: none;}
		~ .personal_filters.hidden ~.main_content {border-top: 137px solid transparent;}
	}

	&-logo {
		figure {
			margin: 0;
		}
		@media screen and (min-width: @screen-md-min) {
			#searchclear {
				right: 53px;
			}
			width: 25%; float: left;
			margin-top: -9px;
			figure {
				margin: 0;
				picture {
					width: 40px;
					float: left;
					img {width: 100%;}
				}
				figcaption {
					float: none;
					margin-left: 53px;
					font-size: 14px;

					width: 180px;
					height: 60px;
					font-size: 0;
					position: relative;

					font-family: "Good Pro Cond Light Cutted", serif;
					color:#00b3ba;
					font-size: 19px;
					padding-top: 12px;
					line-height:1;
					
					/*&:after {
						content: "";
						display: block;
						width: 145px;
						height: 55px;
						background: url("/front_images/type2.png") left top no-repeat transparent;
						background-size: contain;
						position: absolute; left: 0; top: -5px;
					}*/
				}
				&:after {
					content: " "; display: table; clear: both;
				}
			}
		}
	}
	&-search {
		@media screen and (min-width: @screen-md-min) {
			width: 50%; float: left;
		}
		&.form-group {margin-bottom: 0;}
		.form-control,
		.input-group-btn .btn {
			height: 40px;
		}
		.search-button {
			position: relative;
			text-align: center;
			width: 50px;
			&:before {
				content: " ";
				display: block;
			}
		}
	}
	&-feedback {
		@media screen and (min-width: @screen-md-min) {
			width: 17%; float: left;
			text-align: right;
			+ .page_header-menutoggler {width: 8% !important;}
		}
	}
	&-menutoggler {
		@media screen and (min-width: @screen-md-min) {
			width: 25%; float: left;
			text-align: right;
		}
		&-button {
			border-color: transparent;
			width: 33px;
			height: 34px;
			position: relative;
			&:after {
				content: " ";
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -14px;
				margin-top: -8px;
				&:extend(.icon-sidetoggler);
			}
		}
	}
}

.search-button {
	&:before {
		&:extend(.icon-zoomwhite);
		position: absolute;
		left: 50%; top: 50%;
		margin-left: -8px;
		margin-top: -8px;
	}
}

.jumbo_notification {
	&:extend(.container all);
	&:extend(.well);
	padding: .7em 45px 45px 35px;
}

.personal_filters {
	&:extend(.container all);
	&:extend(.well);
	padding: .7em 45px 45px 35px;
	&-display {
		&-selected {			
			color:#616161;
			span {color:#010101;}
			float: left;
			width: 50%;
		}
		&-personalize {
			float: left;
			width: 50%;
			text-align: right;
			&-edit {
				display: inline-block;
				position: relative;
				padding-right: 50px;
				cursor: pointer;
				color:#3069b7;
				&:before {
					content: " ";
					display: block;
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -10px;
					&:extend(.icon-editblue);
				}
			}
		}
		padding-bottom: .7em;
		&:after {content: " "; display: table; clear: both;}
	}
	&-controls {
		fieldset {
			margin-left: -5px; 
			margin-right: -5px;
			margin-bottom: 1em;
		}
			legend {margin-left: 5px;}
			.text-checkbox {
				padding-left: 5px;
				padding-right: 5px;
				float: left;
				width: 100%;
				@media screen and (min-width: @screen-xs-min) {width: 50%;}
				@media screen and (min-width: @screen-sm-min) {width: 25%;}
				@media screen and (min-width: @screen-md-min) {width: 20%;}
				@media screen and (min-width: @screen-lg-min) {width: 14.28571428%;}
				@media screen and (min-width: @screen-xl-min) {width: 10%;}
			}
		&-buttons {
			text-align: center;
			.btn {
				margin-right: .5ex;
				&:last-child {margin-right: 0;}
				margin-bottom: 1ex;
				@media screen and (min-width: 320px) {
					width: auto;
					margin-bottom: 0;
				}
			}
		}
	}
	&.hidden {display: none;}
}

.page_footer {
	@media screen and (max-width:@screen-sm-min) {
		& {
			display: flex;
			flex-direction: row;
    		flex-wrap: wrap;
			header {flex: 0 1 100%;}
			&-left_links {
				flex: 1 0 50%;
				a {margin-right: 1em;}
			}
			&-right_links {flex: 1 0 50%;}
		}			
	}
	@media screen and (min-width:@screen-sm-min) and (max-width:@screen-md-min) {}
	@media screen and (min-width:@screen-md-min) {}

	&:extend(.container all);
	@media screen and (min-width: @screen-lg-min) {
		background-color:#fff;
		padding-left: 40px;
		padding-right: 40px;
		border-top: 1px solid #ededed;
		& {
			&-left_links {
				width: 50%; float: left; height: 110px; padding-top: 45px;
				a {
					display: inline-block;
					margin-right: 1em;
				}
			}
			&-right_links {width: 50%; float: left; height: 110px; padding-top: 40px;}
		}
	}
	&:after {content: " "; display: table; clear: both;}
}

.main_content {
	&, &-additional {
		&:extend(.container all);
		&:after {content: " "; display: table; clear: both;}
		@media screen and (min-width: @screen-md-min) {
			background-color:#fff;
			padding-left: 40px;
			padding-right: 40px;
		}
	}

	padding-top: 0;
	margin-top: 0;
	@media screen and (min-width: @screen-md-min) {
		padding-top: 25px;
		> h2:first-of-type {
			margin-top: .5ex;
		}
	}

	@media screen and (min-width:@screen-xs-min) and (max-width:@screen-md-min) {
		&-item-small,
		&-item-medium {
			
		}
	}

	@media screen and (max-width:@screen-sm-min) {
		& {
			
			#articles_container {
				display: flex;
				flex-direction: row;
	    		flex-wrap: wrap;
			}
		}
			&-item-small,
			&-item-medium {
				> h4,
				> .likes-view,
				> p {margin-left: @grid-gutter-width / 2; margin-right: @grid-gutter-width / 2;}
				> figure {margin-left: -15px !important; margin-right: -15px !important; padding-left: 15px; padding-right: 15px;}
				flex: 1 0 100%;
				/*min-height: 400px;*/
				picture {
					display: block;
					height: 200px;
				}
				/*border: 1px solid #f00 !important;*/
			}
	}



	@media screen and (max-width:@screen-sm-min) {
		&-article {
			display: flex;
			flex-direction: row;
    		flex-wrap: wrap;
			header {
				
			}
			> header {flex: 0 1 100%;}
			> div {flex: 1 0 100%;}
			> aside {flex: 1 0 100%;}
		}
			&-article_content {}
			&-article_aside_blocks {}
	}
	@media screen and (min-width:@screen-sm-min) and (max-width:@screen-md-min) {}
	@media screen and (min-width:@screen-md-min) {
		&-item-small,
		&-item-medium {
			h4 {
				word-wrap: break-word;
			}
		}
		&-article_content {
			float: left;
			width: 65%;
			font-size: @font-size-small;
			line-height: 1.6;
			> h3 {
				font-size: @font-size-h2;
				a {color: @text-color;}
			}		
		}
		&-aside_block {
			padding: .7em 1.5em;
			background-color:#f1f1f1;
			margin-bottom: 1.5em;
			> h3 {
				font-family: @font-family-sans-serif;
				font-size: @font-size-h4;
			}
			&-item {
				margin-bottom: 1em;
				&:last-of-type {margin-bottom: 0;}
				p {margin: 0 0 1ex 0;}
			}
		}
		&-article_aside_blocks {
			float: left;
			width: 35%;
			padding-left: 1em;
		}
	}

	&-additional {//дополнительная секция контента
		//@media screen and (min-width:@screen-xs-min) and (max-width:@screen-md-min) {}
		@media screen and (min-width: @screen-md-min) {
			& > h2:first-child {
				margin-top: 0;
				padding-top: 1em;
			}
			
		}
	}

	figure {
		margin: 0;
	}

	/* #страница статьи */
	&-article_header {
		~ article.main_content-article:first-of-type header h2 {display: none;} // Заголовок статьи дублирует заголовок всей страницы, убираем визуализацию дубля
	}

	article {
		margin-bottom: 24px;
	}
	&-article {
		page-break-before: always;
		&:first-of-type {page-break-before:avoid;}
		&_header {
			@media screen and (min-width: @screen-md-min) {
				font-size: .8em;
				h1 {font-size: 2.2em;}
				p ~ h1 {margin-top: 0; margin-bottom: 1ex;}
			}
			+ article {margin-top: 1em;}
		}
		@media screen and (min-width:@screen-sm-min) {
			&:after {
				content: " ";
				display: table;
				clear: both;
			}
		}		
	}
	&-article_content {
		p img {
			max-width: 100%;
			&[width][height] {
				height: auto;
			}
		}
	}
	&-item-small {
		&.invert {
			figure {
				background-color:#000;
				color:#fff;		
			}
			a {color:#fff;}			
		}

		@media screen and (min-width:@screen-sm-min) and (max-width:@screen-md-min) {
			/*border: 1px solid #00f !important;*/
			flex: 1 0 50% !important;
				width: 50% !important;
				/*border: 1px solid #555;*/
		}


		@media screen and (min-width: @screen-sm-min) {			
			&.bordered {
				picture {
					border: 1px solid #e9e8e8;
				}
			}
			&.titleonly {
				position: relative;
				h4 {
					position: absolute;
					margin-top: 0;
					top: 0; right: 12px; bottom: 0; left: 12px;
					border: 3px solid #616161;
					padding: 5em 1em 1em 23px;

				}
				.likes-view {
					position: absolute;
					top: 35px;
					left: 35px;
				}
			}
			width: 25%; 
			float: left;
			/*padding: 0 12px;*/
			padding-left: (@grid-gutter-width / 2);
			padding-right: (@grid-gutter-width / 2);
			margin-bottom: 25px;
			height: 400px;
			.main_content-additional & {
				width: 33.33333333%;
			}
			figure {				
				height: 400px;
				picture {
					height: 400px;
				}
				position: relative;
				figcaption {
					position: absolute;
					text-align: center;
					right: 35px;
					left:35px; 
					top: 50%;
				}
				.likes-view {
					position: absolute;
					width: 75px;
					left: 50%;
					margin-left: -35px;
					bottom: 30px;
				}
			}
		}



		@media screen and (max-width: @screen-lg-min) {
			//width: 33.33333333%;
			flex: 1 0 33.33333333%;
		}
		@media screen and (max-width: @screen-sm-min) {
			//width: 100%;
			flex: 1 0 100%;
		}
		/*@media screen and (max-width: @screen-sm-min) {
			width: 50.33333333%;
		}*/

		figure {
			figcaption {
				font-size: 120%;
				font-family: 'PT Serif';
			}
		}

		picture {
			text-align: center;
			img {width: 100%;}
			@media screen and (min-width: @screen-xs-min) {
				display: block;
				height: 200px;
			}
			@media screen and (min-width: @screen-sm-min) {
				display: block;
				height: 200px;
			}
		}
		h4 {
			font-weight: normal;
			font-size: 120%;
			margin-top: 1em;
			margin-bottom: 1ex;
			font-weight: normal;
			max-height: 4em;
			overflow: hidden;
			a {color: #000;}
		}

		p {
			margin-top: 1ex;
			color: #818080;
			@media screen and (min-width: @screen-md-min) {

			}
			@media screen and (min-width: @screen-md-min) {}
			& {
				line-height: 1.2;
				height: 6em;
				overflow: hidden;

				display: -webkit-box;
				-webkit-line-clamp: 6;
				-webkit-box-orient: vertical;
	  			text-overflow: ellipsis;
	  			/* https://codepen.io/anon/pen/PmMNNR */
			}
		}
	}
	&-item-medium {
		&.invert {
			figure {
				color:#fff;
				background-color:#000;
			}
			a {color:#fff;}
		}

		figure {
			p {margin: 0;}
			margin: 0;
			figcaption {
				font-size: 120%;
				font-family: 'PT Serif';
			}
			.likes-view {}
			picture {
				img {width: 100%;}
			}
		}
		@media screen and (min-width: @screen-sm-min) {
			.likes-view {
				
			}
			width: 50%; 
			float: left;
			/*padding: 0 12px;*/
			padding-left: (@grid-gutter-width / 2);
			padding-right: (@grid-gutter-width / 2);
			margin-bottom: 25px;
			height: 400px;
			overflow: hidden;
			figure {
				height: 400px;
				position: relative;
				figcaption {
					position: absolute;
					left: 35px; right: 35px;
					bottom: 70px;
				}
				picture {
					display: block;
					height: 400px;
				}
				.likes-view {
					position: absolute;
					left: 35px;
					bottom: 30px;
				}
			}
			> picture {
				display: block;
				height: 200px;
			}
			> h4 {
				font-weight: normal;
				font-size: 120%;
				margin-top: 1em;
				margin-bottom: 1ex;
				font-weight: normal;
				max-height: 4em;
				overflow: hidden;
				a {color: #000;}
			}
			> p {
				line-height: 1.2;
				height: 6em;
				overflow: hidden;

				margin-top: 1ex;
				color: #818080;

				display: -webkit-box;
				-webkit-line-clamp: 6;
				-webkit-box-orient: vertical;
	  			text-overflow: ellipsis;
	  			+ .likes-view {
	  				bottom: 1em;
	  			}
			}
		}
		@media screen and (min-width: @screen-lg-min) {

		}
	}
	.likes-view {
		padding-left: 28px;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -5px;

			width: 17px;
			height: 10px;
			
		}
	}
}

.likes-view {
	&:before {
		&:extend(.icon-shadoweye);		
	}
	.invert & {
		&:before {
			&:extend(.icon-whiteeye);
		}
	}
}

.text-checkbox {
	display: block;
	.personal_filters-controls & {
		.lbl {
			text-align: left;
			@media screen and (max-width:@screen-xs-min) {
				line-height: 3;
			}
		}
	}
	.lbl {
		display: block; 
		font-size: 13px;
		.personal_filters-controls & {
			font-size: 1em;
		}
		font-weight: normal;
		padding: 6px 10px;
		text-align: center;
		border: 2px solid transparent;
		word-break: break-all;

		height: 60px;
		@media screen and (min-width: @screen-xs-min) {
			/*width: 50%;*/
			height: 35px;
		}
		@media screen and (min-width: @screen-sm-min) {
			/*width: 25%;*/
			/*height: 35px;*/
		}
		@media screen and (min-width: @screen-md-min) {
			/*width: 20%;*/
		}
		@media screen and (min-width: @screen-lg-min) {
			/*width: 14.28571428%; */
			
		}
		@media screen and (min-width: @screen-xl-min) {
			/*width: 10%;*/
		}

	}
	
	/*overflow: hidden;*/
	[type="checkbox"], [type="radio"] {
		position: absolute; left: -2em;
		+ .lbl {
			cursor: pointer;
			border-color:#dfdfdf;
			border-width: 1px;
		}
		&:checked + .lbl {
			padding: 5px 9px;
			border-color: #5db0b6;
			border-width: 2px;
		}
	}
}

picture[style] {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	img {display: none;}
}

.aside_panel {
	position: fixed;
	width: 260px;
	top: 0; bottom: 0; right: -260px;
	/*overflow-y: auto;*/
	/*background-color:#fff;*/
	z-index: 1050;
	padding: 40px 30px;
	.aside-turned-on & {
		/*right: -260px;*/
		&-wrapper {
			background-color:#fff;
			//left: -260px;
			transform: translateX(-260px);
			/*.transition(left .5s);
			.transition(background-color .5s);*/
			//left: -100%;
			//padding: 40px 30px;
		}
	}
	&-feedback {margin-top: 0;}
	/*.aside_search {
		@media screen and (max-width:@screen-sm-min) {
			display: block;
		}
		@media screen and (min-width:@screen-sm-min) {
			display: none;
		}
	}*/
	&-search_block {
		@media screen and (max-width: 320px) {
			#searchclear {
				right: 6px;
			}
			.aside_search & {
				display: flex;
				> input {flex: 1 0 60%;}
				> span {
					flex: 1 0 20%;
					text-align: right;
				}
			}

			.search-button {
				position: relative;
				text-align: center;
				width: 50px;
				height: 36px;
				&:before {
					content: " ";
					display: block;
				}
			}
		}
		//@media screen and (min-width:@screen-sm-min) and (max-width:@screen-md-min) {
		@media screen and (min-width: 321px) {
			[data-search-field] {display: none;}
			text-align: right;
			/*.search-button {
				position: relative;
				text-align: center;
				width: 50px;
				height: 36px;
				&:before {
					content: " ";
					display: block;
				}
			}*/
		}
	}
	&-wrapper {
		position: absolute;
		background-color:#eee;
		left: 0; width: 100%; top: 0; bottom: 0; overflow: auto;
		padding: 45px 30px;
		 > nav:first-of-type {margin-top: 0;}
		transform: translateX(0px);
		/*.transition(left .5s);*/
		.transition(transform .25s ease);
		/*transition: transform .25s ease, background-color .25s ease;*/
	}
	.shrinked ~ & {
		.aside_panel-wrapper {
			padding-top: 10px; 			
			padding-right: 10px;
		}
	}
	@media screen and (max-width: @screen-sm-min) {
		padding: 10px;
	}
	nav {
		a {
			display: block;
			float: left;
			clear: left;
			margin-bottom: 1ex;
		}
		margin-bottom: 1em;
		&:first-of-type {margin-top: none;}
		padding-bottom: 1ex;
		border-bottom: 1px solid #d9d9d9;
		&:last-of-type {border-bottom: none;}
		&:after {content: ""; display: table; clear: both;}
	}
	&-settings {
		position: relative;
		&:before {
			display: block; content: " ";
			position: absolute; top: -1.75em; left: -30px;
			&:extend(.icon-settings);
		}
	}
}
.aside_backdrop {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	background-color:#000;
	opacity: .5;
	z-index: 1040;
	display: none;
	.aside-turned-on & {
		display: block;
	}
}

/* #страница статьи */
.autoloaded-page-tab {
	margin: 1em 0;
	padding: 1ex 1em 1ex 37px;
	position: relative;
	&:before {
		display: block; content: " "; position: absolute; 
		left: 0; top: 50%; margin-top: -10px;
		
		//width: 21px; height: 21px;
		//background: url("/skins/Vector/front_images/sprite-overall.png") -432px center no-repeat;
		&:extend(.icon-editarticle);
	}
	> a {
		display: inline-block;
		&:before{
			display: inline-block; 
			content: "/";
			margin-right: .7ex;
			color: @text-color;
		}
	}
}

.article_sources {//Легаси блок Источники
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	position: relative;
	//&.toccolours {
		padding: .5ex 60px .5ex 66px;
		border: 1px solid #e5e3e3;
	//}
	background-color: #ededed;
	//&-collapsed {
		//&.toccolours {
			border-color: transparent;
		//}
	//}
	outline: 0;
	h3 {
		margin: 0;
		font-family: @content-font-family;
		font-weight: normal;
	}
	&:after {
		display: block;
		content: " ";
		//width: 19px; height: 20px;
		position: absolute;
		right: 30px; top: 50%; margin-top: -10px;
	}
	&:before {
		display: block;
		content: " ";
		position: absolute;
		left: 27px; top: 50%; margin-top: -8px;
		
		//width: 21px; height: 18px;
		//background: url("/skins/Vector/images/sprite-overall.png") -319px center no-repeat;
		&:extend(.icon-articlesources);

		.article-scans & {
			//background-position: -297px center;
			&:extend(.icon-articlescans);
		}
	}
	
	//&-collapsed {
		&:after {
			//background: url("/skins/Vector/images/sprite-overall.png") -277px center no-repeat;
			&:extend(.icon-sourcesexpand);
		}
	//}
	&.active:after {
		//background: url("/skins/Vector/images/sprite-overall.png") -257px center no-repeat;
		&:extend(.icon-sourcescollapse);
	}
	+ .article_sources-details {
		display: none;
		padding: 1ex 1em;
	}
	&.active + .article_sources-details {display: block;}
}

.catlinks { // Легаси блок категории
	/*margin-top: 3.5em;*/
	clear: both;
	color:#fff; //скрыть двоеточие
	ul {
		/*display: inline;*/
		margin: 0;
		padding: 0;
		list-style: none;
		list-style-type: none;
		list-style-image: none;
		vertical-align: middle !ie;
	}
	li {
		line-height: 1.25em;
		margin: 0 0 1ex;
		padding: 0 0 0 0.5em;
		zoom: 1;
		display: inline-block;
		display: inline !ie;
		a {
			border: 1px solid #dbdada;
			padding: .2ex 1ex .3ex 1ex;
			border-radius: 15px;
			color: #8d8d8d;
			display: inline-block;
			display: inline !ie;
		}
		a.mw-redirect {
			font-style: italic;
		}
	}
	.mw-normal-catlinks {
		/*text-indent: 8px;*/
		ul {
			margin-left: -8px;
			/*text-indent: 0;*/

		}
		position: relative;
		
		//> a {
		> h3 {

			> a {
				color: #000;
				/*display: inline-block;
				position: absolute;
				left: 0; top: -2em; text-indent: 0;
				margin-left: 8px;
				font-family: @content-heading-font-family;
				font-size: 150%;
				font-weight: bold;*/
			}
		}
	}
	.mw-hidden-cats-hidden {
		display: none;
	}
}

.rows {
	margin-left: -(@grid-gutter-width / 2);
	margin-right: -(@grid-gutter-width / 2);
}

.ya-share2__container {
	float: right;
	.ya-share2__list.ya-share2__list_direction_horizontal {
		text-align: right;
		.ya-share2__item {
			margin-left: 1ex;
			margin-bottom: 1ex;
			margin-right: 0;
			float: right;
			/*@media screen and (min-width: @screen-md-min) {
				&:nth-of-type(3) {clear: right;}
			}*/
			.ya-share2__link {
				.ya-share2__badge {
					border-radius: 17px;
					.ya-share2__icon {
						height: 33px;
					    width: 33px;
					    background-size: 33px 33px;
					}
					.ya-share2__counter {}
				}
				.ya-share2__title {}
			}
			&.ya-share2__item_service_vkontakte,
			&.ya-share2__item_service_facebook,
			&.ya-share2__item_service_odnoklassniki,
			&.ya-share2__item_service_twitter {
				.ya-share2__badge {background-color:#c9c9c9;}
			}
			#footer-icons & {
				#footer & {
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}
	}
}

.ui {
	&-autocomplete {
		&-category {
			padding: .4em;
			color:#555;
			 background-color: #ccc;
			 font-style: italic;
			&:after {
				content: "...";
			}
		}
	}
	&-menu {
		&-item {
			&-wrapper {
				display: block;
			}
		}
	}
}

.bs-callout {
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: @interface-primary-color;
	p& {
		padding: .5ex 1ex;
	}
	&-warning {
		border-left-color: #f0ad4e;
	}
	&-danger {
		border-left-color: #d9534f;
	}
}

@media print {
	picture[style] img {display: inline-block;}
	.page_header-logo {
		figure {
			picture {
				img {}
				float: left;
			}
			figcaption {
				float: left;
				margin-left: 2em;
			}
		}
	}

	.page_header-search {display: none;}
	.page_header-menutoggler {display: none;}
	.page_header-feedback {display: none;}

	header:after {content: " "; display: table; clear: both;}
}

#searchclear {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 23px;
	margin: auto;
	font-size: 23px;
	cursor: pointer;
	color: #ccc;
	z-index: 9;
}