/* Galleries */
/* These display attributes look nonsensical, but are needed to support IE and FF2 */
/* Don't forget to update mediawiki.page.gallery.print.css */
li.gallerybox {
	vertical-align: top;
	display: -moz-inline-box;
	display: inline-block;
}

ul.gallery,
li.gallerybox {
	zoom: 1;
	*display: inline;
}

ul.gallery {
	margin: 2px;
	padding: 2px;
	display: block;
}

li.gallerycaption {
	font-weight: bold;
	text-align: center;
	display: block;
	word-wrap: break-word;
}

li.gallerybox div.thumb {
	text-align: center;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	margin: 2px;
}

li.gallerybox div.thumb img {
	display: block;
	margin: 0 auto;
}

div.gallerytext {
	overflow: hidden;
	font-size: 94%;
	padding: 2px 4px;
	word-wrap: break-word;
}

/* new gallery stuff */
ul.mw-gallery-nolines li.gallerybox div.thumb {
	background-color: transparent;
	border: none;
}

ul.mw-gallery-nolines li.gallerybox div.gallerytext {
	text-align: center;
}

/* height constrained gallery */

ul.mw-gallery-packed li.gallerybox div.thumb,
ul.mw-gallery-packed-overlay li.gallerybox div.thumb,
ul.mw-gallery-packed-hover li.gallerybox div.thumb {
	background-color: transparent;
	border: none;
}

ul.mw-gallery-packed li.gallerybox div.thumb img,
ul.mw-gallery-packed-overlay li.gallerybox div.thumb img,
ul.mw-gallery-packed-hover li.gallerybox div.thumb img {
	margin: 0 auto;
}

ul.mw-gallery-packed-hover li.gallerybox,
ul.mw-gallery-packed-overlay li.gallerybox {
	position: relative;
}

ul.mw-gallery-packed-hover div.gallerytextwrapper {
	overflow: hidden;
	height: 0;
}

ul.mw-gallery-packed-hover li.gallerybox:hover div.gallerytextwrapper,
ul.mw-gallery-packed-overlay li.gallerybox div.gallerytextwrapper,
ul.mw-gallery-packed-hover li.gallerybox.mw-gallery-focused div.gallerytextwrapper {
	position: absolute;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	padding: 5px 10px;
	bottom: 0;
	left: 0; /* Needed for IE */
	height: auto;
	font-weight: bold;
	margin: 2px; /* correspond to style on div.thumb */
}

ul.mw-gallery-packed-hover,
ul.mw-gallery-packed-overlay,
ul.mw-gallery-packed {
	text-align: center;
}

/*.mw-icon-arrow-collapsed,
.mw-collapsible-arrow.mw-collapsible-toggle-collapsed {
	.background-image-svg('images/arrow-collapsed-ltr.svg', 'images/arrow-collapsed-ltr.png');
	background-repeat: no-repeat;
	background-position: left bottom;
}

.mw-icon-arrow-expanded,
.mw-collapsible-arrow.mw-collapsible-toggle-expanded {
	.background-image-svg('images/arrow-expanded.svg', 'images/arrow-expanded.png');
	background-repeat: no-repeat;
	background-position: left bottom;
}
*/

.mw-collapsible-toggle {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	position: relative;
	&.toccolours {
		padding: .5ex 60px .5ex 66px;
		border: 1px solid #e5e3e3;
	}
	background-color: #ededed;
	&-collapsed {
		&.toccolours {
			border-color: transparent;
		}
	}
	outline: 0;
	h3 {
		margin: 0;
		font-family: @content-font-family;
		font-weight: normal;
	}
	&:after {
		display: block;
		content: " ";
		position: absolute;
		right: 30px; top: 50%; margin-top: -10px;
		&:extend(.icon-sourcesexpand);
	}
	&.active {
		&:after {
			&:extend(.icon-sourcescollapse);
		}
	}
	&:before {
		display: block;
		content: " ";
		position: absolute;
		left: 27px; top: 50%; margin-top: -8px;
		&:extend(.icon-articlesources);
		.article-scans & {
			&:extend(.icon-articlescans);
		}
	}
	&-collapsed {
		&:after {
			&:extend(.icon-sourcesexpand);
		}
	}
	&-expanded:after {
		&:extend(.icon-sourcescollapse);
	}
	
	+ .mw-collapsible-content {display: none;}
	&.active + .mw-collapsible-content {display: block;}
	&.cca-pre + .mw-collapsible-content {
		opacity: 0;
		overflow: hidden;
		/*transform: translateY(-100%);*/
		.gallery {
			transition: transform .3s;
			transform: translateY(-100%);
		}
	}
	&.cca-ready + .mw-collapsible-content {
		opacity: 1;
		/*transform: translateY(0);*/
		.gallery {
			transform: translateY(0);
		}
	}
}
.mw-collapsible-content {
	border: 1px solid #e5e3e3;
	border-top: 0;
	padding: 1em;
	> *:first-of-type {
		margin-top: 0;
	}
	pre {
		border: none;
		margin: 0;
		padding: 0;
	}
	+ .mw-collapsible-toggle {margin-top: 1em;}
	.gallery.mw-gallery-traditional {
		margin-left: 0;
		li {}
	}
	.source-article {
		margin: 1em 0;
		a {
			display: inline-block;
			position: relative;
			padding-left: 37px;
			&:after {
				display: block;
				content: " ";
				position: absolute;
				/*width: 19px; height: 21px;*/
				left: 0; top: 50%; margin-top: -11px;
				/*background: url("/skins/Vector/images/sprite-overall.png") -341px center no-repeat;*/
				&:extend(.icon-link);
			}
		}
	}
}
