.search_result {
	margin-bottom: 3em;
	&-item {
		h4 {
			font-family:@font-family-sans-serif;
			font-size: 1em;
			margin-top: 4ex;
			margin-bottom: 1ex;
		}
		p {margin: 1ex 0;}
	}
	&-source {
		margin: 1ex 0;
		&, a {
			color:#818181;
		}
	}
	&-pagination {
		display: flex;
		align-items: center;
		width: 100%;
		> ul, > p {
			flex: 1 1 auto;
		}
	}
}
.other_sources {
	&-toggler {
		position: relative;
		padding-left: 1em;
		&:before {
			content: " ";
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -5px;
			&:extend(.icon-littleplus);
		}
		span {
			display: inline-block;
			cursor: pointer;
			color: @brand-primary;
			border-bottom: 1px dashed @brand-primary;
		}
		+ .other_sources-display {
			display: none;
		}
		&.active {
			&:before {
				&:extend(.icon-littleminus);
			}
			+ .other_sources-display {
				display: block;
			}
		} 
	}
	&-display {
		border: 1px solid #e5e3e4;
		padding: 1em;
		margin: 1em 0 2em;
		> p:first-of-type {margin-top: 0;}
	}
}