@font-face {
	font-family: "Good Pro Cond Medium Cutted";
	src: url("GoodProCutted/GoodPro-CondMedium-cutted.woff") format("woff"),
	url("GoodProCutted/GoodPro-CondMedium-cutted.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Good Pro Cond Light Cutted";
	src: url("GoodProCutted/GoodPro-CondLight-cutted.woff") format("woff"),
	url("GoodProCutted/GoodPro-CondLight-cutted.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
