.page_header-wrapper {
  display: table;
  width: 100%;
}
.page_header-wrapper > div {
  display: table-cell;
  vertical-align: middle !important;
}
.page_header-menutoggler {
  padding-left: 2em;
}
.aside-turned-on .aside_panel-wrapper {
  left: -260px;
  transform: none;
  /*transform: translateX(-260px);*/
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  /*.transition(background-color .5s);*/
}
.aside_panel-wrapper {
  left: 0;
  transform: none;
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  /*.transition(transform .25s ease);*/
  /*transition: transform .25s ease, background-color .25s ease;*/
}
.aside_panel-wrapper .aside_search {
  display: table;
}
.aside_panel-wrapper .aside_search > div {
  display: row;
}
.aside_panel-wrapper .aside_search > div input,
.aside_panel-wrapper .aside_search > div span {
  display: table-cell;
  vertical-align: middle;
}
.aside_panel-wrapper .aside_search > div input {
  width: 100%;
}
.aside_panel-wrapper .aside_search > div span {
  width: 3em;
}
