/*@font-face {
	font-family: "PT Serif";
	src:url("fonts/PTSerif/PTSerif-Regular.woff") format("woff"),
		url("fonts/PTSerif/PTSerif-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "PT Serif";
	src:url("fonts/PTSerif/PTSerif-Bold.woff") format("woff"),
		url("fonts/PTSerif/PTSerif-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "PT Serif";
	src:url("fonts/PTSerif/PTSerif-Italic.woff") format("woff"),
		url("fonts/PTSerif/PTSerif-Italic.woff2") format("woff2");
	font-style: italic;
	font-weight: normal;
}*/
@font-face {
	font-family: 'PTSerif';
	src: url('PTF55F_W.eot');
	src:
	     url('PTF55F_W.eot?#iefix') format('embedded-opentype'),
	     url('PTF55F_W.woff') format('woff'),
	     url('PTF55F_W.ttf') format('truetype'),
	     url('PTF55F_W.svg#PTSerif-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSerif';
	src: url('PTF56F_W.eot');
	src:
	     url('PTF56F_W.eot?#iefix') format('embedded-opentype'),
	     url('PTF56F_W.woff') format('woff'),
	     url('PTF56F_W.ttf') format('truetype'),
	     url('PTF56F_W.svg#PTSerif-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'PTSerif';
	src: url('PTF75F_W.eot');
	src:
	     url('PTF75F_W.eot?#iefix') format('embedded-opentype'),
	     url('PTF75F_W.woff') format('woff'),
	     url('PTF75F_W.ttf') format('truetype'),
	     url('PTF75F_W.svg#PTSerif-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PTSerif';
	src: url('PTF76F_W.eot');
	src:
	     url('PTF76F_W.eot?#iefix') format('embedded-opentype'),
	     url('PTF76F_W.woff') format('woff'),
	     url('PTF76F_W.ttf') format('truetype'),
	     url('PTF76F_W.svg#PTSerif-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}
