/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-articlescans {
  background-image: url(/front_images/spritesheet.png);
  background-position: -63px -37px;
  width: 23px;
  height: 17px;
}
.icon-articlesources {
  background-image: url(/front_images/spritesheet.png);
  background-position: -23px -35px;
  width: 23px;
  height: 20px;
}
.icon-editarticle {
  background-image: url(/front_images/spritesheet.png);
  background-position: 0px -35px;
  width: 23px;
  height: 21px;
}
.icon-editblue {
  background-image: url(/front_images/spritesheet.png);
  background-position: -38px 0px;
  width: 25px;
  height: 25px;
}
.icon-link {
  background-image: url(/front_images/spritesheet.png);
  background-position: -21px -56px;
  width: 19px;
  height: 19px;
}
.icon-littleminus {
  background-image: url(/front_images/spritesheet.png);
  background-position: -91px -34px;
  width: 11px;
  height: 11px;
}
.icon-littleplus {
  background-image: url(/front_images/spritesheet.png);
  background-position: -91px -23px;
  width: 11px;
  height: 11px;
}
.icon-logo {
  background-image: url(/front_images/spritesheet.png);
  background-position: 0px 0px;
  width: 38px;
  height: 35px;
}
.icon-settings {
  background-image: url(/front_images/spritesheet.png);
  background-position: -91px 0px;
  width: 12px;
  height: 23px;
}
.icon-shadoweye {
  background-image: url(/front_images/spritesheet.png);
  background-position: -38px -25px;
  width: 17px;
  height: 10px;
}
.icon-sidetoggler {
  background-image: url(/front_images/spritesheet.png);
  background-position: -63px 0px;
  width: 28px;
  height: 16px;
}
.icon-sourcescollapse {
  background-image: url(/front_images/spritesheet.png);
  background-position: 0px -56px;
  width: 21px;
  height: 21px;
}
.icon-sourcesexpand {
  background-image: url(/front_images/spritesheet.png);
  background-position: -63px -16px;
  width: 21px;
  height: 21px;
}
.icon-whiteeye {
  background-image: url(/front_images/spritesheet.png);
  background-position: -56px -56px;
  width: 17px;
  height: 10px;
}
.icon-zoomgreen {
  background-image: url(/front_images/spritesheet.png);
  background-position: -46px -35px;
  width: 16px;
  height: 16px;
}
.icon-zoomwhite {
  background-image: url(/front_images/spritesheet.png);
  background-position: -40px -56px;
  width: 16px;
  height: 16px;
}
